<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/The-Team">The Team</a></li>
	        		<li><a href="/Gallery">Gallery</a></li>
	        		<li><a href="/The-Code">The Code</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/walkershanks">github.com/walkershanks</a></li>
				</ul>
			</footer>
		</body>
	</html>
